@use "bar";
@use "apps";
@use "formApp";
@use "dateTime";
@use "imageApp";
@use "pallette";
@use "notesApp";
//sass --watch --no-source-map styles.scss styles.css
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    background: url(./../images/backgroundImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    justify-content: space-between;
}

.icon-container {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 90vh;
    gap: 30px;
    margin: 0 20px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 85px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba($color: #000000, $alpha: 0);
    text-align: center;
    &__icon {
        width: 75%;
        height: 75%;
    }

    &__name {
        margin: 0;
        font-size: small;
        color: white;
    }

    &:hover {
        background-color: pallette.$desktopIconHighlightColor;
        border: pallette.$desktopIconHighlightBorder;
    }
}
