.app-container {
    height: 1000px;
    width: 1000px;
    border: 5px solid green;
    align-self: center;
    justify-self: center;
    position: relative;
    right: 10vw;
    display: flex;
    flex-direction: column;
}

.app-body {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 95%;
    background-color: white;
}

.app-head {
    display: flex;
    justify-content: right;
    position: absolute;
    top: 0;
    width: 100%;
    height: 5%;
    background-color: darkslategrey;

    &__controls {
        text-align: center;
        background-color: red;
        width: 5%;
        height: 100%;
        font-size: 36px;

        &:hover {
            background-color: darkred;
        }

        &--exit {
            padding: 0;
            margin: 10% 0;
            align-self: cen;
        }
    }
}
