@use "pallette";
.foot-container__time {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

#dateTime {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: pallette.$footerBarHighlight;
    }
}
#dateTime > p {
    text-align: center;
    padding: 0;
    margin: 0px 10px;
}
