$footerBarColor: rgba(
    $color: #181717,
    $alpha: 1,
);
$footerBarHighlight: rgba(
    $color: #302f2f,
    $alpha: 1,
);

$startMenuColor: rgba(
    $color: #181717,
    $alpha: 0.9,
);

$startMenuHighlight: rgba(
    $color: #302f2f,
    $alpha: 0.9,
);

$desktopIconHighlightColor: rgba(
    $color: #7ab5f8,
    $alpha: 0.2,
);

$desktopIconHighlightBorder: 1px solid
    rgba(
        $color: #7ab5f8,
        $alpha: 0.8,
    );
