body {
  background: url(./images/backgroundImage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.container__icon {
  width: 75px;
  height: 75px;
}
