@use "bar";
@use "apps";
@use "formApp";

body {
    display: flex;
    background: url(./images/backgroundImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    justify-content: space-between;
}

.icon-container {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 90vh;
    gap: 30px;
    border: 3px solid orange;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    border: 2px solid hotpink;
    justify-content: center;
    align-items: center;

    &__icon {
        border: 2px solid teal;
        width: 75%;
        height: 75%;
    }

    &__name {
        margin: 0;
        font-size: small;
        color: white;
    }
}
